data/
src/imu_uwb_pose/__pycache__/
src/imu_uwb_pose.egg-info/
body_models/
pose_models/
src/imu_uwb_pose/training/__pycache__/
lightning_logs/
imu_uwb_pose/
scripts/.ipynb_checkpoints/
src/.ipynb_checkpoints/
lengths.pt
pred.pt
true.pt